<!-- Reference: https://codepen.io/MilanMilosev/pen/JdgRpB -->

<div id="content" class="search-box">
  <input 
    #searchinput
    id="searchinput"
    name="input"
    type="text"
    class="input"
    [placeholder]="expanded ? 'Enter your search term... (i.e: Rocket/Stage1)' : ''"
    [value]="initialValue"
    [class.square]="expanded"
    (input)="onInput($event)"
  >
  <button
    #searchbtn
    id="searchbtn"
    type="reset"
    class="search"
    [class.close]="expanded"
    (click)="toggleClass($event)"
  ></button>
</div>
