[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
wheel = "*"
flask-cors = "*"
dnspython = "*"
pymongo = {extras = ["srv", "tls"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
