<!-- <h2 style="color: white;">Client using SwitchMap pattern</h2> -->
<ng-container>
	<app-search-input (textChange)="onTextChange($event)"></app-search-input>
</ng-container>
<br>
<ng-container *ngIf="(results$ | async) as results">
	<!-- Material Tree output -->
	<app-tree-flat [treedata]="results"></app-tree-flat>

	<!-- Primitive/Basic JSON output below -->
	<!-- {{results | json}} -->
	<div style="color: white;">
		<h2>Raw JSON from API</h2>
		<!-- *ngIf="results.length === 0 noResults"> -->
		<pre [innerHTML]="results | prettyprint"></pre>
	</div>
	<ng-template #noResults>
		No results
	</ng-template>
</ng-container>