<!-- <h2 style="color: white;">Client using SwitchMap pattern</h2> -->
<ng-container>
	<app-search-input (textChange)="onTextChange($event)"></app-search-input>
</ng-container>
<ng-container *ngIf="(results$ | async) as results">
	<!-- {{results | json}} -->
	<div class="container" style="color: white;">
		<pre [innerHTML]="results | prettyprint"></pre>
	</div>
	<!-- <ol *ngIf="results.results.length > 0; else noResults">
		<li *ngFor="let item of results.results">
			{{item}}
		</li>
	</ol> -->
	<ng-template #noResults>
		No results
	</ng-template>
</ng-container>