<cdk-virtual-scroll-viewport itemSize="48" style="height: 600px;">
  <ng-container *cdkVirtualFor="let item of fullDatasource"></ng-container>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <span>{{node.nodename}} : </span>
      <div
        id="property"
        class="property"
        [style.color]="node.value > 10 ? 'green' : null"
      >
        &nbsp;{{node.value}}
      </div>
      <span style="color: #e4bcee; font-size: 0.8rem">
        &nbsp;&nbsp; created {{node.created_at | messagetime}}
      </span>
      <div style="padding: 10px; margin-left: auto;">
        <button mat-raised-button (click)="openDialog()" color="primary">Delete</button>
      </div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.nodename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.nodename}}
      <span style="color: #e4bcee; font-size: 0.8rem">
        &nbsp;&nbsp; created {{node.created_at | messagetime}}
      </span>
      <div style="padding: 10px; margin-left: auto;">
        <button mat-raised-button (click)="openDialog()" color="primary">Delete</button>
      </div>
    </mat-tree-node>
  </mat-tree>
</cdk-virtual-scroll-viewport>