<!-- Reference: https://github.com/allabouttech0803/angular-reusable-dialog/blob/main/src/app/components/shared/dialog/dialog.component.html -->
<div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="stateService.isAsyncOperationRunning$ | async"
    style="top: -25px"
  ></mat-progress-bar>
  <h1 mat-dialog-title>{{ dialogData.dialogHeader }}</h1>
  <div mat-dialog-content>
    <p>{{ dialogData.dialogContent }}</p>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="handleDialogConfirm()"
      [disabled]="stateService.isAsyncOperationRunning$ | async"
    >
      {{ dialogData.confirmButtonLabel }}
    </button>
    <button
      mat-button
      mat-raised-button
      color="accent"
      (click)="onNoClick()"
      cdkFocusInitial
      [disabled]="stateService.isAsyncOperationRunning$ | async"
    >
      {{ dialogData.cancelButtonLabel }}
    </button>
  </div>
</div>