/* You can add global styles to this file, and also import other style files */
body{
  /* position: relative; */
  /* width: 100vw; */
  /* height: 100vh; */
  background: linear-gradient(to bottom right, #274B74 0%, #8233C5 50%, #E963FD 100%);
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  /* overflow: hidden; */
}